<h3>@ViewBag.Message</h3>
<form asp-controller="Home" asp-action="GoBackToIndex" method="get">
    <div class="form-group m-2">
        <input type="submit" class="btn btn-secondary" value="Вернуться на главную"/>
    </div>
    </form>
